In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
file_path = r"C:\Users\Ayush\Downloads\Churn_Modelling.csv"
df = pd.read_csv(file_path)
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.shape

(10000, 14)

In [4]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [6]:
print(df["Geography"].unique())
print(df["Gender"].unique())

['France' 'Spain' 'Germany']
['Female' 'Male']

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
remove_clm=["RowNumber","Surname","CustomerId"]
df.drop(columns=remove_clm,inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [10]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [11]:
encoder=LabelEncoder()

In [12]:
df["Geography"]=encoder.fit_transform(df["Geography"])
df["Gender"]=encoder.fit_transform(df["Gender"])
df.tail()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [13]:
X=df.drop("Exited",axis=1)
y=df["Exited"]

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [15]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [16]:
model=RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [17]:
ac=model.predict(X_test)
print(ac)

[0 0 0 ... 1 0 0]

In [18]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [19]:
y_pred=model.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[1555   52]
 [ 209  184]]
0.8695

In [20]:
credit_score=int(input("Enter the Credit Score:"))
age=int(input("Enter your Age:"))
tenure=int(input("Enter your Tenure:"))
Balance=float(input("Enter your Account Balance:"))
no_of_product=int(input("Enter Number of Product:"))
hascrcard=int(input("Do the Customer have Credit Card(Yes=1,No=0):"))
IsActiveMember=int(input("Is the Customer Active Member(Yes=1,No=0):"))
EstimatedSalary=float(input("Enter the Estimated Salary:"))
Geo_mapping = {"France": 0, "Germany": 1, "Spain": 2}
Geography = input("Enter the Location (France, Spain, Germany): ").strip().title()
Gender = input('Enter the Gender (Male, Female): ').strip().title()

Geography = Geo_mapping.get(Geography, 0)  
Gender = 1 if Gender == "Male" else 0  

prediction=model.predict([[credit_score,age,tenure,Balance,no_of_product,hascrcard,IsActiveMember,EstimatedSalary,Geography,Gender]])
if prediction==1:
    print("The Customer will leave the bank")
else:
    print("The Customer will not leave the bank")

Enter the Credit Score: 302
Enter your Age: 54
Enter your Tenure: 5
Enter your Account Balance: 2.00
Enter Number of Product: 6
Do the Customer have Credit Card(Yes=1,No=0): 1
Is the Customer Active Member(Yes=1,No=0): 1
Enter the Estimated Salary: 5000000.00
Enter the Location (France, Spain, Germany):  France
Enter the Gender (Male, Female):  Female

The Customer will not leave the bank